@mixin flex($justify: stretch, $align: stretch, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin sprite($width, $height, $x, $y, $num: 1) {
  width: $width + px;
  height: $height + px;
  overflow: hidden;
  background: url('../images/sprite0' + $num + '.png') no-repeat;
  background-position: $x + px $y + px;
  vertical-align: top;
}