.header {
  min-width: $min-width;
  height: 63px;
  border-bottom: 1px solid #dcdde0;
  background-color: #ffffff;
}

.gnb {
  @include flex(space-between);
  width: 980px;
  padding-top: 23px;
  margin: 0 auto;

  &-util {
    @include flex(space-between, center);
    width: 244px;
  }
}